async-timeout==4.0.3
bleak==0.21.1
build==1.0.3
contourpy==1.2.1
cycler==0.12.1
ecdsa==0.13.3
fonttools==4.53.0
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.23.4
packaging==24.1
pandas==2.2.2
pillow==10.3.0
protobuf==3.14.0
pycryptodome==3.17
pyparsing==3.1.2
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pyserial==3.5
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2024.1
